language: node_js
node_js:
  - 'stable'
cache:
  yarn: true
  directories:
    - node_modules
branches:
  only:
    - main
    - next
    - patch
install:
  - yarn global add codecov
  - yarn
script:
  - yarn lint
  - yarn test --forceExit --detectOpenHandles
